# APP_URL: The URL where the app is hosted.
# Used for self-referential links and OAuth callbacks.
APP_URL="MY_APP_URL"

# VITE_API_BASE_URL: Backend microservice endpoints for auth, user records, and workspace metadata.
VITE_API_BASE_URL="http://localhost:3001/api/v1"
